
.App {
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

table {
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
}

th, td {
  padding: 6px;
}

th {
  background-color: #f5f5f5;
}

td {
  text-align: center;
}

input[type="number"] {
  width: 50px;
  padding: 8px;
  font-size: 16px;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-right: 27%;
}

.output-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  background-color: #f7f7f7;
}

.output-container h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.output-container pre {
  font-family: 'Courier New', monospace;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  white-space: pre-wrap;
  overflow-x: auto;
}
